# Python
__pycache__/
*.pyc

# Virtual Environment
.venv/
venv/

# Environment Variables
.env

# Logs
logs/*.log

# SQLite Database
*.db

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db


data/session/